@model Quiron.LojaVirtual.Dominio.Entidade.Produto



<div class="well">
    <h3><strong>@Model.Nome</strong></h3>
    <h5><span class="lead">@Model.Descricao</span></h5>
    <h4><span class="pull-right label label-success">@Model.Preco.ToString("c")</span></h4>

</div>